<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="handy">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />

    <!-- Import handy urdf file -->
    <xacro:include filename="$(find handy_description)/urdf/handy_arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="handy.ros2_control.xacro" />

    <!-- Import Gazebo materials (optional, for better visuals) -->
    <xacro:include filename="gazebo_materials.xacro" />


    <xacro:handy_ros2_control 
        name="FakeSystem" 
        initial_positions_file="$(arg initial_positions_file)"
        hardware_type="$(arg ros2_control_hardware_type)"
    />

    <!-- Gazebo ros2_control plugin -->
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find arm_config)/config/ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>
